.newsletter-section {
    background-image: url('vest1.jpg');
    background-attachment: fixed;
    background-position: center;
    padding: 80px 0 80px;
    position: relative;

}
.newsletter-section::before {
    content: '';
    position: absolute;
    @include baseColor;
    left:0;
    top:0;
    opacity: 0.8;
    height: 100%;
    width:100%;

}
.newsletter-section .section-title .title {
    color: #ffffff;
}
.newsletter-section .section-title .title::before {
   background-color: #ffffff;
}
.newsletter-section .newsletter-form .form-group {
    margin-bottom:0;

}
.newsletter-section .newsletter-form .form-control {
    height: 60px;
    border-radius: 60px;
    padding: 0 185px 0 30px;
    outline:none;
    border: none;
    color: #555555;
    font-weight: 400;
}
.newsletter-section .newsletter-form .form-control:focus {
    box-shadow: none;
}
.newsletter-section .newsletter-form .btn {
    height:48px;
    position: absolute;
    top: 6px;
    right: 20px;
    line-height: 24px;
}
.newsletterTitle {
    & .subtitle {
        color:#ffffff;
    }
}